.jumbotron {
    background-image: url('img/kota1.jpg');
    background-attachment: fixed;
    color : white;
    background-size: cover;
    background-position: 0 -50px;
    height: 400px;
    padding-top : 8rem ;
    text-shadow: 100px;
}

section{
    padding-top: 5rem;
}

#isi{
    background-image: url('img/pantai.jpg');
    background-size: cover;
      
}

#wisata{
    background-image: url('img/kota1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 -100px;
}

#galeri{
    background-image: url('img/kota1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 -150px;
}

#contact{
    background-image: url('img/kota1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 -200px;
}

#about{
    background-image: url('img/kota1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 -250px;
    
}


#batik{
    background-image: url('img/batik1.jpg');
       
}